{var $robots = noindex}

{block title}Ajta krajta!{/block}
{block #content}
<div id="errorContent">
<h2>Stránka nebyla nalezena</h2>
<p>Požadovaná stránka nebyla nalezena. Je možné, že už neexistuje, nebo že máte nesprávnou adresu. Prosíme, zkuste použít vyhledávač, abyste nalezli, co hledáte.</p>

<p><small>error 404</small></p>
</div>
<div class="sadSmiley">;-(</div>