{var $robots = noindex}

{block title}Ajta krajta!{/block}
{block #content}
<div id="errorContent">
<h2>Požadovaná metoda není dostupná</h2>

<p>Požadovaná metoda není pro tuto URL dostupná.</p>

<p><small>error 405</small></p>
</div>
<div class="sadSmiley">;-(</div>