{var $robots = noindex}

{block title}Ajta krajta!{/block}
{block #content}
<div id="errorContent">
<h2>Stránka nemohla být nalezena</h2>

<p>Požadovaná stránka byla odstraněna. Omlouváme se za obtíže.</p>

<p><small>error 410</small></p>
</div>
<div class="sadSmiley">;-(</div>