{var $robots = noindex}

{block title}Ajta krajta!{/block}
{block #content}
<div id="errorContent">
<h2>Na stránce došlo k problému</h2>

<p>Server nedokázal provést nebo porozumět požadavku vašeho prohlížeče.</p>
</div>
<div class="sadSmiley">;-(</div>