{layout '@layout.latte'}
{block body}
<p>Návštěvník <b>{$params['from']}</b> zaslal tento vzkaz:</p>
---------------------- VZKAZ ----------------------------
<p>{$params['text']}</p>
------------------- KONEC VZKAZU ------------------------
{/block }
	    
{block title}
Vzkaz od návštěvníka
{/block}