{* because of calendar table has another name for id *}
{? $id = isset($item->id) ? $item->id : $item->item_id}
    <div n:class="item, $classes, $isOld ? shaded" name="{$id}" aria-labelledby="Klub" {if empty($isCalendar)}agility-reload="{plink //Ajax:getOne data=>$item->id}" tabindex="0"{/if}>
	<div class="left" >
	    <div class="name" style="border-bottom:0px">
		<h4>{$data->title}</h4>
		<div class="details"  >
		    {$filters[$data->state]}, {$data->city}
		</div>
	    </div>
	    <div  class="info">
	    <span class="title">Info</span>
		{!$data->info|unescape|texy}
	    </div>
	    <div style="clear:right"></div>
	</div>
	<div class="right short">
	    <div class="location" ><span class="title">Adresa:</span>
		{if !empty($data->location)}
		    {!$data->location|unescape|texy}
		{/if}
		{if !empty($data->gps)}
		    <span class="gps">
			GPS: {$data->gps}
		    </span>
		{/if}
		{? $addr=!empty($data->gps)?$data->gps : $data->location;}
		<a target="_blank"  class="google-maps no-link" href="http://maps.google.com?q={$addr|stripTags|stripUrls|url}">
		    <img  title="Odkaz na Google mapy" alt="Odkaz na Google mapy" width="50" height="50"src="{$basePath}/images/google-maps-icon.png"/>
		</a>
	    </div>
	    <div style="clear:right"></div>
	</div>
	<div class="cleaner"></div>
	{*<div class="border" style="right:13em"></div>*}
	{if $isAdmin && empty($isCalendar)}{include 'editToolbar.latte', id=>$item->id}{/if}
    </div>
