{block title}
EDITACE {*$page->name*}
{/block}
{block content}
    {snippet editAdminAjaxForm}
    {include './editForm.latte'}
    <br><small>Odkaz pro editaci: <a href="http://agility.tulak.me/edit/default/{$authorHash}">http://agility.tulak.me/edit/default/{$authorHash}</a></small>
    {/snippet}

{/block}
