<div id="editForm">
{control editItemForm}
</div>
<p>
    <small>
	Pro formátování textu můžete použít zápis ve formátu <a href="http://texy.info/cs/syntax">Texy!</a>, nebo HTML tagy. Vyzkoušet si to můžete <a href="http://texy.info/cs/try">tady</a>.
    </small>
</p>